{% extends "templates/base.html" %}
{% block title %} change password {% endblock %}
{% block head-content %}
{% endblock %}
{% block content %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <p>Change password</p>
        </a>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <a class="button" href="/my">Back</a>
        </div>
    </div>
</nav>
<section class="hero is-fullheight has-background-light">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centerd">
                <div class="columns is-5-tablet is-4-desktop is-3-widescreen">
                    <form method="POST" action="/my/change-password" class="box">
                        <div class="field">
                            <label for="currentpassword" class="label">Current Password</label>
                            <div class="control">
                                <input type="password" name="currentpassword" class="input" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="newpassword" class="label">New Password</label>
                            <div class="control">
                                <input type="password" name="newpassword" class="input" required>
                            </div>
                        </div>
                        <div class="field">
                            <input type="submit" class="button is-success" value="Change Password" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
