{% extends "templates/base.html" %}
{% block title %} Userpage {% endblock %}
{% block head-content %}
{% endblock %}
{% block content %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <p>Your page</p>
        </a>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <a class="button" href="/">Back</a>
        </div>
    </div>
</nav>
<div class="columns">
    <div class="column">
        <div class="menu">
            <p class="menu-label">Links</p>
            <ul class="menu-list">
                <li><a href="/my/history">Lecture history</a></li>
                <li><a href="/my/change-password">Change password</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
