{% extends "templates/base.html" %}
{% block title %} Registration {% endblock %}
{% block head-content %}
{% endblock %}
{% block content %}
<body>
    <section class="hero is-fullheight has-background-light">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centerd">
                    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                        {{message}}
                        {% if not need-init %}
                        <form method="POST" action="/registration" class="box">
                            <div class="field">
                                <label for="username" class="label">Username</label>
                                <div class="control">
                                    <input type="text" name="username" class="input" required>
                                </div>
                            </div>
                            <div class="field">
                                <label for="contact" class="label">Contact</label>
                                <div class="control">
                                    <input type="email" name="contact" class="input" required>
                                </div>
                            </div>
                            <div class="field">
                                <label for="password" class="label">Password</label>
                                <div class="control">
                                    <input type="password" name="password" class="input" required>
                                </div>
                            </div>
                            <div class="field">
                                <input type="submit" class="button is-success" value="Registration" />
                            </div>
                        </form>
                        {% else %}
                        You need to initialize the admin user first.
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
